.header {
  background-color: black;
  /*color: #cbb26a;*/
  color: white;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 80px;
}
.menu {
  /*Positioning on the right of the header*/
  margin-left: auto;
  margin-right: 0;
  /*Text-size*/
  font-size: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex: 1;
  transition: 0.2s;
}

.menu li:hover {
  background-color: #cbb26a;
  
}
/*menu items when clicked remove underline and color*/
.menu li a {
  text-decoration: none;
  color: white;
}

html {
    font-family: "Lucida Sans", sans-serif;
}